* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgb(181, 135, 99);
    --white: rgb(240, 218, 181);
    --white-green: rgb(129, 151, 105);
    --black-green: rgb(101, 110, 65);
    --white-yellow: rgb(205, 210, 107);
    --black-yellow: rgb(170, 163, 59);
    --white-select: rgb(233, 177, 126);
    --black-select: rgb(191, 121, 69);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.even {
    background-color: var(--white);
  }

  .odd {
    background-color: var(--black);
  }


  .square.white-available {
    position: relative;
  }

  .square.white-available::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--white-green);
    z-index: 1;
  }

  .square.black-available {
    position: relative;
  }

  .square.black-available::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--black-green);
    z-index: 1;
  }


  .selected-black {
    background-color: var(--black-select);
  }

  .selected-white {
    background-color: var(--white-select);
  }

  .black-to {
    background-color: var(--black-yellow);
  }

  .white-to {
    background-color: var(--white-yellow);
  }

  .capture-black {
    box-shadow: inset 0 0 15px 2px var(--black-green);
  }
  .capture-white {
    box-shadow: inset 0 0 15px 2px var(--white-green);
  }